.genre-box {
  height: 500px;
}

.genre-box__title {
  margin: 0 0 1em 1em;
}

.movies-box {
  display: flex;
  flex-direction: row;
  height: 400px;
  position: relative;
}

.movies-box__movies {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
}

.movies-box__movies-image {
  margin-right: 3em;
}

.movies-box__movies-image img {
  width: 250px;
  height: 350px;
}

.movie-title {
  max-width: 225px;
  margin: 0.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movies-box__line {
  border: 1px solid rgb(211, 210, 207);
}

.movies-box__arrow {
  display: flex;
  align-self: center;
  position: absolute;
}

.movies-box__arrow-left {
  left: 0;
}

.movies-box__arrow-right {
  right: 0;
}

.slide {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
