.genre-box {
  margin-bottom: 7em;
  border-bottom: 2px solid rgb(211, 210, 207);
}

.genre-box .second-title {
  margin: 0 0 1em 1em;
}

.movie-box {
  height: 415px;
}

.movies-box__movie {
  overflow: hidden;
  white-space: nowrap;
}

.movies-box__arrow {
  width: 4%;
  height: 350px;
  display: flex;
  position: absolute;
}

.movies-box__right {
  right: 0;
}

.movies-box__left {
  left: 0.5;
}

.image-box {
  margin-right: 3em;
}

.image-box img {
  width: 250px;
  height: 350px;
}

.movie-title {
  width: 225px;
  font-size: 2em;
  margin: 0.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.slide {
  background-color: transparent;
  color: rgb(211, 210, 207);
  border: none;
  cursor: pointer;
}
