@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700;900&family=Roboto:wght@300;400&display=swap");

body {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  background: url("./assets/stars-bkg.jpg") no-repeat center center/cover fixed;
  color: rgb(211, 210, 207);
  overflow: hidden;
}

a {
  text-decoration: none;
  color: rgb(211, 210, 207);
  display: inline-block;
}

h1 {
  font-size: 3em;
  font-weight: bold;
}

input {
  outline: none;
  color: rgb(211, 210, 207);
}

img {
  object-fit: cover;
}

ul {
  list-style: none;
}

.container {
  height: 100vh;
}

.scroll-container {
  overflow-y: auto;
  height: calc(100vh - 115px - 35px);
}

.bg-primary {
  background-color: #004cbf76;
}

.bg-secondary {
  background-color: #666;
}

.bg-tertiary {
  background-color: #020f2176;
}

.color-primary {
  color: rgb(211, 210, 207);
}

.btn {
  border: none;
  padding: 1.2em;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mlr2 {
  margin: 0 2em;
}

.fz2 {
  font-size: 2em;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.not-found {
  margin: 0;
  text-align: center;
  height: calc(100vh - 115px - 35px);
  font-size: 5em;
}

.bold {
  font-weight: bold;
}

.ta-center {
  text-align: center;
}

.hover:hover {
  color: rgba(211, 210, 207, 0.604);
}
